/*This contains the styles for this project*/
html, body{
	background: #FFF;
    font-family: 'Poppins', sans-serif;
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%
	color: #222;

}

  body {
         overflow-x: hidden;
       }

/*****************Css for the navbar logo*********************/
#logo{
	height: 70px;
	width: 70px;
	margin-right: 4px; 
}
/*****************End of Css for the navbar logo*********************/

.navbar ul li a:hover{
	color:  #ff798d !important;
}
/*****************styling the navbar items*********************/
.navbar{
	padding: .8rem;
}

.navbar-nav li{
	padding-right: 20px;
}

.nav-link{
	font-size: 1.1em !important;
}
/*****************end of styling the navbar items *********************/

.navbar-brand{
	font-size: 200% !important;
	font-weight: 500px;
	text-shadow: 1px 2px 2px #e7d9eb !important;
}

/***************CSS  FOR THE VAVBAR SEARCH BAR*************/
input[type=search] {
	-webkit-appearance: textfield;
	-webkit-box-sizing: content-box;
	font-family: inherit;
	font-size: 100%;
}
input::-webkit-search-decoration,
input::-webkit-search-cancel-button {
	display: none; 
}

input[type=search] {
	background: #ededed url(https://static.tumblr.com/ftv85bp/MIXmud4tx/search-icon.png) no-repeat 9px center;
	border: solid 1px #ccc;
	padding: 5px 10px 5px 32px;
	width: 50px;
	
	-webkit-border-radius: 10em;
	-moz-border-radius: 10em;
	border-radius: 10em;
	
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	transition: all .5s;
}


input:-moz-placeholder {
	color: #999;
}
input::-webkit-input-placeholder {
	color: #999;
}

/* Demo 2 */
#small-search input[type=search] {
	width: 15px;
	padding-left: 10px;
	color: transparent;
	cursor: pointer;
	outline: none;
}
#small-search input[type=search]:hover {
	background-color: #fff;
}
#small-search input[type=search]:focus {
	width: 250px;
	padding: 8px 10px 8px 32px;
	color: #000;
	background-color: #fff;
	border-color: #66CC75;
	cursor: auto;
	-webkit-box-shadow: 0 0 5px rgba(109,207,246,.5);
	-moz-box-shadow: 0 0 5px rgba(109,207,246,.5);
	box-shadow: 0 0 5px rgba(109,207,246,.5);
}
#small-search input:-moz-placeholder {
	color: transparent;
}
#small-search input::-webkit-input-placeholder {
	color: transparent;
}

/***************END OF CSS  FOR THE VAVBAR SEARCH BAR*************/


/***************LANDING PAGE BANNER*************/
/* banner */
.banner_w3lspvt {
    padding: 2vw 0;
    z-index: 0;
    width: 100%;
}

}
.w3ls_banner_txt {
    padding-top: 4vw;
}

.position-relative {
    position: relative !important;
}

/* inner page banner */
.banner_w3lspvt-2 {
    background: url(images/banner2.png) no-repeat top !important;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
}

.img-fluid {
	height: 100%;
	width: 130vw;

}


@media only screen and (max-width: 740px) {
  .img_rocketed {
    display: none;
  }
}

/* button style */
.button-style {
    padding: 14px 30px;
    border: none;
    color: #fff;
    margin-bottom: 4px;
    font-size: 14px;
    letter-spacing: 1px;
    box-shadow: inherit;
    -webkit-border-radius: 4px;
    -o-border-radius: 4px;
    -ms-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background-color: #05b993;
}

.button-style:hover {
    color: #fff;
    background: red;
    outline: none;
}

/*.button-style:focus{
	background: white;
}*/

.my_banner_txt p {
    font-weight: 400;
    color: #000;
    font-size: 17px;
    letter-spacing: 1px;
    margin-bottom: 4px;
    padding-right: 1px;
}

.my_banner_txt {
        padding-top: 3vw;
    }
p.text-sty-banner {
    font-size: 1.2rem;
    color: #05B993;
    max-width: 700px;
    margin: 15px 0;
    padding-right: 0;
}


h3.my_pvt-title pre {
    font-size: 2.5rem;
    font-weight: 600;
    color: #05B993 !important;
}
/***************END OF LANDING PAGE BANNER*************/
