/*This contains the styles for this project*/
html, body{
	font-family: 'Raleway', Helvetica, sans-serif;
	margin: 0;
	height: 100%;
	width: 100%;
	color: #222;

}

/*****************Css for the navbar logo*********************/
img{
	height: 70px;
	width: 70px;
	margin-right: 4px; 
}
/*****************End of Css for the navbar logo*********************/

.navbar ul li a:hover{
	color:  #ff798d !important;
}
/*****************styling the navbar items*********************/
.navbar{
	padding: .8rem;
}

.navbar-nav li{
	padding-right: 20px;
}

.nav-link{
	font-size: 1.1em !important;
}
/*****************end of styling the navbar items *********************/

.navbar-brand{
	font-size: 200% !important;
	font-weight: 500px;
	text-shadow: 1px 2px 2px #e7d9eb !important;
}

/***************CSS  FOR THE VAVBAR SEARCH BAR*************/
input[type=search] {
	-webkit-appearance: textfield;
	-webkit-box-sizing: content-box;
	font-family: inherit;
	font-size: 100%;
}
input::-webkit-search-decoration,
input::-webkit-search-cancel-button {
	display: none; 
}

input[type=search] {
	background: #ededed url(https://static.tumblr.com/ftv85bp/MIXmud4tx/search-icon.png) no-repeat 9px center;
	border: solid 1px #ccc;
	padding: 5px 10px 5px 32px;
	width: 50px;
	
	-webkit-border-radius: 10em;
	-moz-border-radius: 10em;
	border-radius: 10em;
	
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	transition: all .5s;
}


input:-moz-placeholder {
	color: #999;
}
input::-webkit-input-placeholder {
	color: #999;
}

/* Demo 2 */
#small-search input[type=search] {
	width: 15px;
	padding-left: 10px;
	color: transparent;
	cursor: pointer;
}
#small-search input[type=search]:hover {
	background-color: #fff;
}
#small-search input[type=search]:focus {
	width: 250px;
	padding: 8px 10px 8px 32px;
	color: #000;
	background-color: #fff;
	border-color: #66CC75;
	cursor: auto;
	-webkit-box-shadow: 0 0 5px rgba(109,207,246,.5);
	-moz-box-shadow: 0 0 5px rgba(109,207,246,.5);
	box-shadow: 0 0 5px rgba(109,207,246,.5);
}
#small-search input:-moz-placeholder {
	color: transparent;
}
#small-search input::-webkit-input-placeholder {
	color: transparent;
}

/***************END OF CSS  FOR THE VAVBAR SEARCH BAR*************/
